<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
            <div class="col-md-8">
                <h2>小动物领养要求及办理流程</h2>
                <p>

                </p><p>
                “以领养代替购买！”感谢每一位支持和关注流浪动物救助的爱心人士，如果您现在想领养一只流浪狗狗回家，那么请你耐心的阅读完以下内容，因为这将会使您办理领养的过程变得更加简单方便。
            </p>
                <p>
                    一、领养注意事项
                </p>
                <p>
                    1、领养为无偿领养
                </p>
                <p>
                    2、可以领养的小动物仅以帖子上为准，无需询问是否还有其他可以领养的动物
                </p>
                <p>
                    3、领养流程：填写一份领养申请表---&gt;上门实地考核领养人以及领养环境&nbsp;---&gt;条件适合领养，领养人确定领养，与救助方办理领养手续---&gt;接受救助方不定期地回访。如下图：
                </p>
                <p style="text-align:center;">
                    <img src="http://cdn-cayj.0203.pro/upload/editor/image/20160509/20160509214927_46785.png" alt="">
                </p>
                <p>
                    <br>
                </p>
                <p style="text-align:center;">
                    以上流程如嫌麻烦，或者不接受上门考核或回访者，请放弃申请领养，理解万岁。
                </p>
                <p>
                    <br>
                </p>
                <p>
                    二、领养条件：
                </p>
                <p>
                    1、原则上申请人须年满十八周岁，有稳定职业&nbsp;，在南宁有较固定住所，经济不拮据者。（学生和未满18周岁的申请人，需同住的父母代为申请。接受外地申请人的情况一般为，除满足所有领养条件外，还须在当地有小站的考核回访人员）。
                </p>
                <p>
                    2、把宠物视为家庭的一员，有决心照顾它们一辈子，不会因工作调动、生育问题等抛弃它们。
                </p>
                <p>
                    3、为杜绝某些领养人一时心血来潮或没有稳定生活来源或是恶意欺骗而随便领养，也为了能给流浪动物一个较稳定的归宿，领养时犬只需收取保证金300元,猫需收取300元。
                </p>
                <p>
                    <br>
                </p>
                <p>
                    此保证金可退回：1、领养犬只或猫领养满一年后，经回访，生活正常稳定可予以退还领养人（p.s：一年内犬只因正常的生老病死出现问题，不属于是人为故意伤害虐待的情况，保证金仍可予以退还给领养人)；2、按规定为领养犬只办理养犬登记证的，持办证证明或缴费收据可以退回押金。
                </p>
                <p>
                    4、接受小动物绝育，同意给小动物定时免疫。
                </p>
                <p>
                    5、接受南宁宠爱有家流浪动物救助小站义工的不定期回访。
                </p>
                <p>
                    <br>
                </p>
                <p>
                    <br>
                </p>
                <p>
                    <br>
                </p>
                <p>
                    三、&nbsp;以下情况者请领养人慎重考虑领养：
                </p>
                <p>
                    1.未能独立生活的学生
                </p>
                <p>
                    2..无养宠物经验者
                </p>
                <p>
                    3.心血来潮一时冲动想养宠物者
                </p>
                <p>
                    4.经常搬家者，无稳定住所者
                </p>
                <p>
                    5.长期出差及工作繁忙者
                </p>
                <p>
                    6.经济情况比较拮据者
                </p>
                <p>
                    7.租房同居的男女（避免分手后不知如何处理）
                </p>
                <p>
                    8.新婚有意向要BB夫妇（怀孕时能否做到不离不弃）
                </p>
                <p>
                    <br>
                </p>
                <p>
                    四、领养申请表
                </p>
                <p>
                    如果您浏览完以上内容后，希望领养一只小动物回家做为伴侣的话，请下载填写领养申请表，并发送到邮箱为<a href="mailto:1657875151@qq.com">2576723093@qq.com</a>的邮箱。我们会尽快给您答复。
                </p>
                <p>
                    <br>
                </p>
                <p>
                    狗狗申请表下载：<a class="ke-insertfile" href="http://cdn-cayj.0203.pro/upload/editor/file/20160509/20160509215137_45304.doc" target="_blank">狗狗领养申请表</a>
                </p>
                <p>
                    猫猫申请表下载：<a class="ke-insertfile" href="http://cdn-cayj.0203.pro/upload/editor/file/20160509/20160509215253_67974.doc" target="_blank">猫猫领养申请表</a>
                </p>
                <p>
                    <br>
                </p>
                <p>
                    五、领养手续的办理 <br>
                    <br>
                    第一步：通过考核的申请人，会有领养（后）客服（QQ 2576723093）联系接待。请在家准备好它的一些生活用品。<br>
                    第二步：带上狗绳，身份证复印件，领养押金，与小站客服约好时间办理接狗狗。<br>
                    第三步：现场签好领养协议，交给代办义工身份证复印件（写上仅用于领养流浪狗，再复印无效），领养的押金（狗狗押金300元，猫300元，残疾的狗狗和猫猫不需要押金），同时得到保证金收条。
                </p>
                <p>
                    <br>
                </p>
                <p>
                    <br>
                </p>
                <p style="text-align:center;">
                    <span style="line-height:1.5;font-size:21px;">小动物领养须知</span>
                </p>
                <p style="text-align:center;">
	<span style="line-height:1.5;font-size:21px;"><br>
</span>
                </p>
                首先感谢您献出爱心，诚心领养、代养这些无家可归的宝贝。为更好的进一步完善领养、代养狗狗的工作，我们在狗狗来到您家之前，请您务必认真看完并参照以下注意事项执行。<br>
                1、必须添置的：请你先给新来的宝贝事先准备一个大小合适的笼子以便狗狗更快适应你的新 &nbsp; &nbsp;家（狗狗习惯了会很喜欢在很有安全感的笼子里休息、吃饭的，而且有客人来或者不希望 &nbsp; &nbsp;狗狗打扰、破坏的时候也可以随时派上用场）。<br>
                2、准备一个大小适宜的给狗狗喝水的容器（保证狗狗24小时可以随时喝到洁净的清水），再 &nbsp; &nbsp;准备一个狗狗给喂粮的容器，最好选择容易清洗，不藏污垢的材质（平时喂食过后不留粮 &nbsp; &nbsp;清洗干净放好，尽量做到任何要给狗狗吃的东西都是放进喂食容器中提供的，而不是扔到 &nbsp; &nbsp;地上或者用手来喂）<br>
                3、狗狗进家的第一件事：是以一种轻松温柔的方式带它进厕所闻闻看看，给一点时间它适应， &nbsp; &nbsp;如果这时它能尿尿就最好了（厕所要尽量保持光线好、干燥通风、宽敞无杂物、切记不要 &nbsp; &nbsp;把它自己关在里面让它紧张害怕留下阴影）<br>
                4、然后选择你想要安放狗狗的地方放笼子——可以选择安静、阴凉（狗狗怕热不怕冷）、可 &nbsp; &nbsp;以远远看得见主人经常活动的地方，马上把狗狗关进笼子里面（不然狗狗会马上在家里到 &nbsp; &nbsp;处尿尿霸地盘。<br>
                5、喂食：刚进家的狗狗可以马上放水给狗狗身边，给它可以随时喝水，并可以同时喂食。幼犬在长身体需要少吃多餐，如果是成年狗对营养的需求会减少可以根据自身的条件一天按时喂食至少一到两餐，具体的喂食量根据个别情况自行控制（成犬尤其是已经绝育的狗狗一定不要喂食太多，需要控制食量，不然很容易肥胖产生各种疾病，绝育的狗狗相对没有以前好动，需要主人多给它带动增加运动量，这样就会很健康长寿了）<br>
                6、教狗狗上厕所：一般是每天起床后第一时间把狗狗从笼子里面带到厕所，在门口轻轻提醒 &nbsp; &nbsp;它等它上玩厕所就关回笼子进行下一步喂食或者其他，这样的流程可以一天重复几次，一 &nbsp; &nbsp;般还可以在刚下班回家，还有晚上睡觉以前。以上新进家的狗狗关笼子饲养的时间应狗而 &nbsp; &nbsp;异，3-7天不等，后面就可以放狗狗出来玩了，刚放出笼子的狗狗要一直跟踪观察到确定 &nbsp; &nbsp;它会自己上厕所就算教会狗狗上厕所了<br>
                7、关于训狗：训狗用的语言越简短越好，能一个字就不用两个字，并且保证每次用同样的字， &nbsp; &nbsp;以便强化狗狗对语言的反应，记得不对要当时惩罚，对了也一定要当时奖励，一定要有奖 &nbsp; &nbsp;有罚，奖罚分明，奖励可以有食物和精神的，惩罚可以有体罚和大声骂<br>
                8、关于遛狗：因为狗狗是初到主人家，和主人的关系还不是很默契，所以遛狗的时候一 &nbsp; &nbsp; &nbsp; 定要非常慎重，首先检查套狗的背带或者项圈是否结实，松紧合适 （既不要让狗很容易 &nbsp; &nbsp;挣脱，又不能太勒得紧让狗不舒服反感套绳子，因为新来的狗狗一担挣脱绳子就会马上走 &nbsp; &nbsp;失，很难叫回或者抓回，当不得以出现意外狗狗挣脱绳子时不要紧张的拼命追赶，要慢慢 &nbsp; &nbsp;尾随，或者蹲下轻轻拍手、呼叫、食物引诱，也可以几个人悄悄绕到前面慢慢围捕，千万 &nbsp; &nbsp;不要吓跑狗狗。<br>
                9、关于乱咬：狗狗是需要磨牙的，尤其是在成年前的几个月长牙牙很养的时候，经常给一些 &nbsp; &nbsp;狗狗爱咬得东西磨牙有利于牙齿健康，保持口腔清洁液不宜口臭，选择可以咬得东西应狗 &nbsp; &nbsp;而异，出了市场上可以买到的给种磨牙的东西以外（可吞食的，不宜太多），不妨观察狗 &nbsp; &nbsp;狗的喜欢，给狗狗另外准备一些木头、布娃娃、干净无毒的塑料品等......<br>
                10、关于狗狗的食物：出了狗粮是首选外（配方狗粮比较全面提供了狗狗需要的营养），可以 &nbsp; &nbsp;给狗狗吃一些家人吃的饭菜，但记住菜一定是少盐，无调料的最好，可以泡水去除盐分， &nbsp; &nbsp;有条件的可为狗狗单独烹饪，记住几乎不放什么盐。<br>
                狗狗不能吃的食物：<br>
                1、鸡鸭等尖锐的骨头~会割伤肠子、卡着喉咙。<br>
                2、不能长期吃肝脏~容易引起中毒一周最多3个肝。<br>
                3、不能吃葱类、洋葱等~容易出现细胞溶血或尿血现象。<br>
                4、巧克力~会致命有害无益。<br>
                5、不能吃海鲜等易过敏的食物。<br>
                6、不能吃高糖（会发胖并诱发一系列疾病）、高盐份的食物（会造成各种皮肤病）。<br>
                7、不可以暴饮暴食以免造成胃扩张等急性疾病。<br>
                8、关于免疫和绝育：你领回家的狗狗我们都会事先或者领回去以后安排打预防疫和绝育，请记住自家狗狗打疫苗的时间，为了狗狗的健康（预防狗瘟、细小等死亡率很高的传染病）和人类的生命安全（杜绝狂犬病），请记得在每年疫苗过期以前按时带爱犬去注射疫苗。<br>
                <div>
                    <br>
                </div>
                <p>
                    <br>
                </p>
                <p>
                    <br>
                </p>
                <p>
                    <br>
                </p>


                <p></p>

            </div>



<style>
    @media (max-width:640px) {
        .poputing{top:33%; display:none;}
    }

    .poputer i{ display:inline-block; width:23px; height:13px; margin-top:18px; background:url(http://cayj.com.cn/home/views/static//img/arrow.png) no-repeat;}
    .poputing {
        width: 123px;
        height: 368px;
        padding: 10px 0;
        position: fixed;
        right: 0;
        top: 10%;
        border-radius: 7px;
        z-index: 8888;
        background: url(http://cayj.com.cn/home/views/static//img/poput.png);
        background-repeat: no-repeat;

    }
    .poputing .thead {
        margin-top: 100px;
        padding: 0 10px;
    }
    .poputing .thead a {
        display: block;
        width: 100%;
        border-radius: 5px;
        background: #ffc000;
        margin: 10px auto 16px;
        text-align: center;
        font-size: 10px;
        color: #4a4a4a;
        padding: 5px 0;
        box-shadow: 0 1px 12px #aaa;
    }
    .poputing .line {
        margin: 0 20px 10px;
        border-bottom: 1px dashed #ccc;
    }
    .poputing .service {
        padding: 2px 0;
        margin: 0 10px;
        border-bottom: 1px solid #e5e5e5;
    }
    .poputing .service a{
        font-size: 15px
    }
    .poputing .service .active {
        display: inline-block;
        width: 25px;
        height: 25px;
        background-image: url(http://cayj.com.cn/home/views/static//img/service.png);
        vertical-align: middle;
        border: 1px solid #ededed;
    }
</style>
<!-- Footer -->

<!--<div class="poputing" style="right: 15px;">
    <div class="thead">
        <a target="_blank" href="http://shop117569028.taobao.com/">我要捐助</a>
    </div>
    <div class="line"></div>
    <div class="service">
        <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&amp;uin=1657875151&amp;Site=南宁宠爱有家&amp;Menu=yes" class="active"></a>
        <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&amp;uin=1657875151&amp;Site=南宁宠爱有家&amp;Menu=yes">领养客服1</a>
    </div>
    <div class="service">
        <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&amp;uin=1760628017&amp;Site=南宁宠爱有家&amp;Menu=yes" class="active"></a>
        <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&amp;uin=1760628017&amp;Site=南宁宠爱有家&amp;Menu=yes">领养客服2</a>
    </div>
    <div class="service">
        <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&amp;uin=724935729&amp;Site=南宁宠爱有家&amp;Menu=yes" class="active"></a>
        <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&amp;uin=724935729&amp;Site=南宁宠爱有家&amp;Menu=yes">客服1</a>
    </div>
    <div class="service">
        <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&amp;uin=1661442035&amp;Site=南宁宠爱有家&amp;Menu=yes" class="active"></a>
        <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&amp;uin=1661442035&amp;Site=南宁宠爱有家&amp;Menu=yes">客服2</a>
    </div>
    <a target="_blank" href="http://weibo.com/nnlovedogs?is_hot=1" class="weibo"></a>
</div>-->


<div class="poputer" style="right: 15px; display: none;">
    <a href="javascript:;">
        <i></i></a>
</div>

<script src="../js/jquery.min.js"></script>
<script>

    $(function(){
        $('.poputer').click(function(){
            $('html,body').stop().animate({
                scrollTop:0
            })
        });

        function fixed(){
            var _win=$(window).width();
            var _width=$('.head').width();
            var _auto=(_win-_width)/2;
            $('.poputing,.poputer').css({
                right:15
            })
        }

        fixed();
        $(window).resize(function(){
            fixed();
        })


        $(window).on('scroll',function(){
            if($(this).scrollTop()>=100){
                $('.poputer').fadeIn();
            }else{
                $('.poputer').fadeOut();
            }
        })
    });

</script> <!--foot e-->



</body>
</html>